body {
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: lucidacon;
    src: url(fonts/CONSOLAB.TTF);
  }

#Container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


#Background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    size: cover;
    position: fixed;
    z-index: -1;
}


#Logo {
    width: 20%;
    text-align: center;
    align-content: center;
    display:block;
    margin:auto;
}

#Menu {
    background-color: #333;
    overflow: hidden;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding-top: .5%;
    padding-bottom: .5%;
}

#Menu a {
      color: #e500fc;
      text-align: center;
      font-weight: normal;
      font-family: lucidacon;
      font-weight: bold;
      padding:3%;
      text-decoration: none;
      font-size: 25px;
      cursor:pointer;
}

#Menu a:hover {
      background-color: #1a77ff;
      color: black;
}

#Content {
    margin: auto;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    overflow-x:hidden;
}

#HeaderContainer {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    text-align: center;
    font-family: lucidacon;
    padding-top: 10px;
}

a {
    color: rgb(255, 0, 255);
}

#Footer {
    font-family: lucidacon;
    font-size:20px;
    color: white;
    text-align: center;
}

/*****************************************************************************/
/*Unique to Home*/

#Intro {
    width: 50%;
}

#IDImage {
    display:inline-block;
    width: 50%;
    padding-bottom: 1%;
}

#ExperienceImage {
    display:inline-block;
    width: 42.5%;
    padding-bottom: 1%;
    text-align: center;
}

#InfoContent p {
    font-family: lucidacon;
    font-size:20px;
    color: white;
    padding-left: 2%;
    padding-right: 1%;
    text-align: left;
    margin: inherit;
}

#InfoContent li {
    font-family: lucidacon;
    font-size:20px;
    color: white;
    padding-left: 2%;
    padding-right: 1%;
    text-align: left;
    margin: inherit;
}

#InfoContent {
    display:flex;
}

#InfoContent img {
    max-width: 100%;
    max-height: 100%;
    margin: inherit;
}

/*****************************************************************************/
/*Unique to Skills*/

#SkillsContent {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    text-align: center;
    font-family: lucidacon;
    padding-top: 10px;
}

#SkillsContent img {
    max-width: 100%;
    max-height: 100%;
    margin: inherit;
}

#SkillsContent p {
    font-weight: normal;
    font-family: lucidacon;
    font-weight: bold;
    font-size:25px;
    color: white;
    text-align: center;
    margin: inherit;
}

#Languages {
    width: 50%;
    text-align: center;
    position: inherit;
    margin: 0 auto;
}
#Languages img {
    padding: .5%;
}

#Abilities {
    width: 50%;
    text-align: left;
}

#Abilities p {
    text-align: left;
    margin-left: 1%;
    display: inline-block;
}

/*****************************************************************************/
/*Unique to Skills*/

#Form {
    width: 75%; 
    height: 200px;
    padding: 5px; 
    font-weight: normal;
    font-family: lucidacon;
    font-weight: bold;
}

#EmailField {
    width: 50%; 
    height: 30px;
    padding: 5px; 
    font-weight: normal;
    font-family: lucidacon;
    font-weight: bold;
    font-size: 20px;
}

#FormDiv {
    width: 50%;
    padding-left: 1%;
}

#FormButton {
    height: 30px;
    font-weight: normal;
    font-family: lucidacon;
    font-weight: bold;
    font-size: 20px;
}

#SocialMedia {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#SocialMedia img {
    padding-block: 10%;
}